<app-barra-progreso *ngIf="loading"></app-barra-progreso>
<div *ngIf="!loading" class="container">
    <div class="titulo">
        <h3>listado de clientes</h3>
        <button type="button" class="btn btn-success" [routerLink]="['/agregarCliente']">Agregar</button>
    </div>
    
    <table class="table table-hover">
        <thead> 
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Direccion</th>
            <th scope="col">Email</th>
            <th scope="col">Telefono</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Cliente of listado">
            <td scope="row">{{Cliente.ClienteID}}</td>
            <td>{{Cliente.Nombre}}</td>
            <td>{{Cliente.Apellidos}}</td>
            <td>{{Cliente.Direccion}}</td>
            <td>{{Cliente.Email}}</td>
            <td>{{Cliente.Telefono}}</td>
            <td>
                <button [routerLink]="['/editarCliente', Cliente.ClienteID]" type="button" class="btn btn-info btn-sm">Editar</button>
                <button (click)="delete(Cliente.ClienteID)" type="button" class="btn btn-light btn-sm ms-2">Eliminar</button>
            </td>
            </tr>
        </tbody>
    </table>
</div>


