<div class="row mt-2">
    <div class="col-lg-4 offset-lg-4">
        <div class="card text-white bg-secondary mb-3" style="max-width: 30rem;">
            <div class="card-header">{{ operacion }} detalle de venta</div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="addTodo()">
                    <input formControlName="HuevoID" type="number" class="form-control mt-2" placeholder="ingrese el ID del huevo">
                        <span *ngIf="form.get('HuevoID')?.hasError('required') && form.get('HuevoID')?.touched">
                            el campo es <strong>requerido</strong>
                        </span>
                    <input formControlName="cantidad" type="number" class="form-control mt-2" placeholder="ingrese una cantidad">
                        <span *ngIf="form.get('cantidad')?.hasError('required') && form.get('cantidad')?.touched">
                            el campo es <strong>requerido</strong>
                        </span>
                    <div class="row mt-2 text-center">
                        <div class="col-lg-4">
                            <button [disabled]="form.invalid" type="submit" class="btn btn-success">aceptar</button>
                        </div>
                        <div class="col-lg-4">
                            <button routerLink="/listadoDetalle" type="button" class="btn btn-secondary">regresar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

