<div class="container">
    <div class="titulo">
        <h3>listado de inventarios</h3>
        <button type="button" class="btn btn-success" [routerLink]="['/agregarInventario']">Agregar</button>
    </div>
    
    <table class="table table-hover">
        <thead> 
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Fecha de ingreso</th>
            <th scope="col">Fecha de venta</th>
            <th scope="col">Cantidad de ingreso</th>
            <th scope="col">Cantidad de venta</th>
            <th scope="col">Existencias</th>
            <th scope="col">Lote</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let inventarios of listadoInventario">
            <td scope="row">{{inventarios.InventarioID}}</td>
            <td>{{inventarios.FechaIngreso}}</td>
            <td>{{inventarios.FechaVenta}}</td>
            <td>{{inventarios.CantidadIngreso}}</td>
            <td>{{inventarios.CantidadVenta}}</td>
            <td>{{inventarios.Existencias}}</td>
            <td>{{inventarios.HuevoProduccion}}</td>
            <td>
                <button [routerLink]="['/editar', inventarios.InventarioID]" type="button" class="btn btn-info btn-sm">Editar</button>
                <button (click)="deleteInventario(inventarios.InventarioID)" type="button" class="btn btn-light btn-sm ms-2">Eliminar</button>
            </td>
            </tr>
        </tbody>
    </table>
</div>

