<app-barra-progreso *ngIf="loading"></app-barra-progreso>
<div *ngIf="!loading" class="container">
    <div class="titulo">
        <h3>listado de inventarios</h3>
        <button type="button" class="btn btn-success" [routerLink]="['/agregarInventario']">Agregar</button>
    </div>
    
    <table class="table table-hover">
        <thead> 
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">tipo de huevo</th>
            <th scope="col">Existencias</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let inventarios of listadoInventario">
            <td scope="row">{{inventarios.InventarioID}}</td>
            <td>{{inventarios.Nombre}}</td>
            <td>{{inventarios.HuevoID}}</td>
            <td>{{inventarios.Existencias}}</td>
            <td>
                <button [routerLink]="['/editarInventario', inventarios.InventarioID]" type="button" class="btn btn-info btn-sm">Editar</button>
                <button (click)="deleteInventario(inventarios.InventarioID)" type="button" class="btn btn-light btn-sm ms-2">Eliminar</button>
            </td>
            </tr>
        </tbody>
    </table>
</div>

