<div class="row mt-2">
    <div class="col-lg-4 offset-lg-4">
        <div class="card text-white bg-secondary mb-3" style="max-width: 30rem;">
            <div class="card-header">{{ operacion }} cliente</div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="addTodo()">
                    <input formControlName="Nombre" type="text" class="form-control mt-2" placeholder="ingrese el nombre">
                        <span *ngIf="form.get('Nombre')?.hasError('required') && form.get('Nombre')?.touched">
                            el campo es <strong>requerido</strong>
                        </span>
                    <input formControlName="Apellidos" type="text" class="form-control mt-2" placeholder="ingrese el Apellidos del cliente">
                        <span *ngIf="form.get('Apellidos')?.hasError('required') && form.get('Apellidos')?.touched">
                            el campo es <strong>requerido</strong>
                        </span>
                    <input formControlName="Direccion" type="text" class="form-control mt-2" placeholder="ingrese una Direccion">
                        <span *ngIf="form.get('Direccion')?.hasError('required') && form.get('Direccion')?.touched">
                            el campo es <strong>requerido</strong>
                        </span>
                    <input formControlName="Email" type="text" class="form-control mt-2" placeholder="ingrese un Email">
                        <span *ngIf="form.get('Email')?.hasError('required') && form.get('Email')?.touched">
                            el campo es <strong>requerido</strong>
                        </span>
                    <input formControlName="Telefono" type="number" class="form-control mt-2" placeholder="ingrese un Telefono">
                        <span *ngIf="form.get('Telefono')?.hasError('required') && form.get('Telefono')?.touched">
                            el campo es <strong>requerido</strong>
                        </span>
                    <div class="row mt-2 text-center">
                        <div class="col-lg-4">
                            <button [disabled]="form.invalid" type="submit" class="btn btn-success">aceptar</button>
                        </div>
                        <div class="col-lg-4">
                            <button routerLink="/listadoCliente" type="button" class="btn btn-secondary">regresar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


